body{
    margin: 0;
    padding: 0;
    background-color: #0e1525;
    font-family: sans-serif;
}

svg{
    height:28;
    width:93px;
}
nav{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left:10px ;
    padding-right:15px ;
    height: 60px;
    color:  #f5f9fc;  
}

.pages-container{
    margin-left: 15px;
}

a{
    color:  #f5f9fc;
    text-decoration: none;
    padding: 10px;
}

.signup-btn ,.login-btn {
    border-radius:8px;
    height: 30px;
    width: 65px;
    font-size: 14px;
}

.signup-btn{
    background-color: #0053a6;
    color:#f5f9fc ;
    border: none;
}

.login-btn{
    background-color: #0e1525;
    color:#f5f9fc ;
    border-color:#5f677a ;
    width: 60px;  
}

.content-container{
    display: flex;
   justify-content: center;
    color:#f5f9fc;
    text-align: center;
    margin-top: 50px;

}

h1{
    font-size: 80px;
}

h2{
    color: #c2c8cc;
    font-size: 24px;
    

}

.start-btn{
    background-color: #0079F2;
    color: #f5f9fc;
    border-radius: 5px;
    height: 55px;
    width:135px;
    border: none;
    font-size: 15PX;
}










    

