body {
  margin: 0;
  padding: 0;
  background-color: #0e1525;
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  border-bottom: 1px solid #1c2333;
}

.logo {
  height: 28;
  width: 93px;
  color: rgb(66, 42, 221);

}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  height: 60px;
  color: #f5f9fc;
}

a:hover {
  color: #0079f2;
}

.pages-container {
  margin-left: 15px;
}

a {
  color: #f5f9fc;
  text-decoration: none;
  padding: 10px;
}

.signup-btn,
.login-btn {
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.signup-btn {
  background-color: #0053a6;
  color: #f5f9fc;
  height: 32px;
  width: 64px;
}

.signup-btn:hover {
  border-color: #57abff;
  border-width: 1px;
  transition-duration: 120ms;
}

.login-btn {
  background-color: #0e1525;
  color: #f5f9fc;
  border-color:#5f677a;
  width: 60px;
  height: 32px;
  width: 55px;
}

.login-btn:hover {
  background-color: #2b3245;
  transition-duration: 120ms;
}

.content-container {
  display: flex;
  justify-content: center;
  color: #f5f9fc;
  text-align: center;
  margin-top: 50px;
  font-weight: 500px;
  text-shadow: 2px 2px 60px #0079f2;
}

h1 {
  font-size: 80px;
}

h2 {
  color: #c2c8cc;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25em;
  max-width: 720px;
}

.start-btn {
  background-color: #0079f2;
  color: #f5f9fc;
  border-radius: 5px;
  height: 54px;
  width: 146px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

.start-btn:hover {
  background-color: #57abff;
}






